### CMake ###
*/build/CMakeFiles/
*/build/thirdparty/
*/build/CMakeCache.txt
*/build/cmake_install.cmake
*/build
!build/Makefile


# thirdparty
/thirdparty
!CMakeLists.txt

# lib
*.bak
*.so*
*.a

# vs
.vscode
